@charset "utf-8";

html {/*overflow-x:hidden;*/overflow-y:scroll;}
html,body {/*width:100%;height:100%;*/-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body,div,p,dl,dt,dd,ul,ol,li,table,th,td,textarea,form,fieldset,legend,input,select,button {margin:0;padding:0}
ul,ol,li {list-style:none;}
img,fieldset,iframe {border:0 none;}
input,select,button,textarea {vertical-align:middle;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea {overflow:auto;}
img {height:auto;vertical-align:top;-ms-interpolation-mode:bicubic;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:1em;font-weight:normal;}
address,em,strong,th {font-style:normal;font-weight:normal;}
table {border-spacing:0;border-collapse:collapse;}
img[usemap],map area {outline:0;}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
caption, legend, hr, .hid {position:absolute;left:-9999px;width:0;height:0;font-size:0;overflow:hidden;}

button, input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button;cursor:pointer;}
button[disabled], input[disabled] {cursor:default;}
button {-webkit-appearance:none;-moz-appearance:none;background:transparent;padding:0;border:0;line-height:1;}
.button {display:inline-block;text-align:center;line-height:1;cursor:pointer;vertical-align:middle;border:1px solid transparent;border-radius:3px;background-color:#2ba6cb;color:#fff;
	-webkit-appearance:none;transition:opacity 0.25s ease-out, background-color 0.25s ease-out, color 0.25s ease-out;}
button:focus {outline:0;}
.button:after {transition:opacity 0.25s ease-out, background-color 0.25s ease-out, color 0.25s ease-out;}
.button span {position:relative;z-index:1;}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {box-sizing:border-box;width:100%;height:auto;padding:4px 4px;background-color:#fefefe;font-size:0.9em;border:1px solid #cacaca;box-shadow:inset 0 1px 2px rgba(10, 10, 10, 0.1);-webkit-appearance:none;-moz-appearance:none;
	transition:box-shadow 0.5s, border-color 0.25s ease-in-out;}
[type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus {border:1px solid #2ba6cb;background-color:#fefefe;outline:none;box-shadow:0 0 5px #cacaca;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;}
[type="file"], [type="checkbox"], [type="radio"] {padding:0;margin:0;vertical-align:middle;}
[type="checkbox"] + label, [type="radio"] + label {display:inline-block;vertical-align:middle;margin:0 10px 0 3px;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height:auto;}
/*
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#aaa !important;font-weight:300 !important;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#aaa !important;font-weight:300 !important;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#aaa !important;font-weight:300 !important;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#aaa !important;font-weight:300 !important;}
*/
input:placeholder-shown, textarea:placeholder-shown {color:#aaa !important;font-weight:300 !important;}


.clearfix {zoom:1;}
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}

.fleft {float:left;}
.fright {float:right;}

.tac {text-align:center;}